.user {
    color: magenta;
    text-align: right;
}

.text {
    color: white;
    padding-left: 5px;
    overflow: hidden;
    margin: 0 auto;
    animation: typing 3.5s steps(40, end),
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}


#chat {
    border-collapse: collapse;
}

.message {
    background-color: rgba(0, 0, 0, 0.9);
}