.user {
    color: magenta;
    text-align: right;
}

.text {
    color: white;
}

#chat {
    border-collapse: collapse;
}

.message {
    background-color: rgba(0, 0, 0, 0.9);
}

.message td {
    padding: 3px 10px;
}