html {
    font-family: "Consolas";
    size: 0.6em;
}

body {
    color: white;
    background-color: white;
}

.bg {
    background-color: rgba(0, 0, 0, 0.9);
}

.accent {
    color: magenta;
}

.bg_accent {
    background-color: rgba(255, 0, 255, 0.9);
}